html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $primary-font;
  text-align: center;
  margin-top: 10px;
  @media only screen and (min-device-width : 760px) {
    background-color: $light-pink;
  }
}

h1, h2, h3, h4, p {
  font-family: $primary-font;
  color: $dark-pink;
}

h2 {
  font-size: 26px;
  @media only screen and (min-device-width : 760px) {
    font-size: 42px;
  }
}

h3 {
  font-size: 20px;
  @media only screen and (min-device-width : 760px) {
    font-size: 28px;
  }
}

h4 {
  font-size: 18px;
  @media only screen and (min-device-width : 760px) {
    font-size: 32px;
  }
}

.sexy {
  font-family: $sexy-font;
}

.background {
  @media only screen and (min-device-width : 760px) {
    background-image: image-url('avery-brackets-white-sm.png');
    background-size: cover;
    position: absolute;
    width: 970px;
    height: 606px;
    top: 20px;
    left: 50%;
    margin-left: -480px;
    z-index: -9999;
   }
}

#message {
  margin-top: 20px;

  h4 {
    margin-bottom: 20px
  }

  p {
    margin-bottom: 0;
    font-size: 18px
  }

  .sexy {
    font-size: 28px;
    margin-top: 10px;
  }
}
