html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: $primary-font;
  background-color: $light-pink;
  text-align: center;
  margin-top: 10px;
}

h1, h2, h3, h4 {
  font-family: $primary-font;
  color: $dark-pink;
}

h2 {
  font-size: 42px;
}

h4 {
font-size: 32px;
}

.sexy {
  font-family: $sexy-font;
}

.container {
  // width: 1000px;
  // margin: 20px auto 0;
}

.background {
  background-image: image-url('avery-brackets-white-sm.png');
  background-size: cover;
  position: absolute;
  width: 970px;
  height: 606px;
  // padding: 20px 0;
  // margin: 0 auto;

  // position: absolute;
  top: 20px;
  left: 50%;
  margin-left: -480px;
  z-index: -9999;

}

.form_container {
  width: 600px;
  margin: 0 auto;
  padding: 90px 0;
}